@model SDM.Models.PraticaIndex

@{
    ViewBag.Title = "Index";
}

<script>
    addPratica = () => {
        window.location.href = "/Eventi/AggiungiPratica";
    }
    downloadPratiche = () => {
        window.location.href = "/Eventi/DownloadExcel";
    }
    function AjaxBegin() {
        $('#loading-div').show();

    }
    function AjaxComplete() {
        $("#loading-div").hide();
    }
</script>

<div class="patronatoStyle">
    <ul class="patronatoMenu">
        <li class="menuBack">@Html.ActionLink("Torna indietro", "Index", "Home")</li>
        <li><a onclick="downloadPratiche()" style="margin-right: 1rem">Download Excel</a></li>
        <li><a onclick="addPratica()">Nuova pratica</a></li>
    </ul>
    @TempData["message"]
    <div class="patronatoSearch">
        @using (Ajax.BeginForm("SearchPratica", "Eventi", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "table-index",
            OnBegin = "AjaxBegin",
            OnComplete = "AjaxComplete"
        }, new { @class = "patronatoAddForm" }))
        {
            <div class="rowForm">
                <h2 class="titlePatronato">Ricerca pratica</h2>
            </div>
            <div class="rowForm">
                <div class="colForm">
                    <label for="NumPratica" class="labelForm">N° Pratica</label>
                    <div>
                        <input type="text" name="NumPratica" class="inputForm" />
                    </div>
                </div>
                <div class="colForm">
                    <label for="Nome" class="labelForm">Nome</label>
                    <div>
                        <input type="text" name="Nome" class="inputForm" />
                    </div>
                </div>
                <div class="colForm">
                    <label for="Nome" class="labelForm">Cognome</label>
                    <div>
                        <input type="text" name="Cognome" class="inputForm" />
                    </div>
                </div>
                <div class="colForm">
                    <label for="Anno" class="labelForm">Anno</label>
                    <div>
                        <input type="text" name="Anno" class="inputForm" />
                    </div>
                </div>
            </div>
            <div class="rowFormButtonSearch">
                <div class="colFormButton">
                    <input type="submit" value="Cerca" class="" />
                </div>
            </div>
        }
    </div>

    <div style="position: relative">
        <div id="loading-div" class="loaderShadow">
            <div class="loaderDiv">
                <div class="loader"></div>
            </div>
        </div>
        <div id="table-index" style="width: 100%; overflow-x: auto; ">
            @Html.Partial("TableIndex", Model.Pratiche)
        </div>
    </div>
</div>

