$coloreScrittePrincipale: #000000;
$coloreScritteSecondario: #777777;
$coloreBluSDM: #010045;
$coloreDisabled: #e7e7e7;
$coloreScrittaDisabled: #c0c0c0;
$coloreErrore: #c80000;
$coloreSuccesso: #247b14;
