
@{
    ViewBag.Title = "ResetPassword";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="patronatoStyle">
    <h2 class="titlePatronato">Reset passowrd</h2>

    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "ResetForm" }))
    {
    <label>Vecchia password</label>
    <input id="vecchia_password" name="oldPassword" type="password" placeholder="inserisci password attuale" class="inputForm" />

    <label>Nuova password</label>
    <input id="nuova_password" name="newPassword" type="password" placeholder="inserisci nuova password" class="inputForm" />

    <label>Conferma password</label>
    <input id="conferma_password" name="confirmPassword" type="password" placeholder="conferma nuova password" class="inputForm" />

        
        
        <input type="submit" title="Conferma" class="button" value="Conferma" />
        {
            if (TempData["resetError"] != null)
            {
                <p class="errorText">@TempData["resetError"].ToString()</p>
            }

            if (TempData["resetSuccess"] != null)
            {
                <p class="successText">@TempData["resetSuccess"].ToString()</p>
            }
        }
    }
</div>



